<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dettaglio Regione | Covid19 Italia</title>
</head>
<body>
  <div class="spinner"></div>

  <nav class="nav">
    <div class="container">
      <div class="nav__title">Covid19 Italia</div>
      <ul class="nav__bar">
        <li class="nav__item"><a class="nav__link" href="/">Home</a></li>
        <li class="nav__item"><a class="nav__link" href="./info.html">Info</a></li>
      </ul>
    </div>
  </nav>

  <header class="header row no-gutter text-center bg-white" id="header"></header>

  <div class="container">

    <div id="dettaglioRegione"></div>
    
  </div>

  
  <footer class="footer">
    <div class="container">
      <div>
        <p>Sito creato da <span class="text-primary">Davide Facciolo</span></p>
      </div>
      <p> Dati forniti dal <a href="http://www.salute.gov.it/portale/home.html" target="_blank">Ministero della Salute italiano</a> ed elaborati dal <a href="http://www.protezionecivile.gov.it/" target="_blank">Dipartimento della Protezione Civile</a></p>
    </div>
  </footer>


</body>
</html>