<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Informazioni | Covid19 Italia</title>
</head>
<body>

  <nav class="nav">
    <div class="container">
      <div class="nav__title">Covid19 Italia</div>
      <ul class="nav__bar">
        <li class="nav__item"><a class="nav__link" href="/">Home</a></li>
        <li class="nav__item"><a class="nav__link" href="./info.html">Info</a></li>
      </ul>
    </div>
  </nav>

  <div class="container info">

    <div>
      <h2>Covid19 Italia</h2>
      <p><strong>Versione:</strong> 1.0</p>
      <p><strong>Sviluppata da:</strong> Davide Facciolo</p>
      <p><strong>Licenza:</strong> L'applicazione &egrave; rilasciata sotto <a href="https://it.wikipedia.org/wiki/Licenza_MIT" target="_blank"> Licenza MIT</a>.</p>
      <p>Il codice sorgente &egrave; liberamente consultabile e scaricabile tramite il <a href="https://github.com/razieldev90/covid19ita" target="_blank">repository github</a></p>
    </div>

    <div>
      <h2>Contatti</h2>
      <p><strong>Email:</strong> razieldev90@gmail.com</p>
      <p><strong>Social: </strong><a href="https://twitter.com/RazielDev">Twitter</a> <a href="https://www.instagram.com/davide.facciolo/">Instagram</a></p>
    </div>
      
    <div>
      <h2>Dati utilizzati</h2>
      <p>I dati sono forniti dal <a href="http://www.salute.gov.it/portale/home.html" target="_blank">Ministero della Salute italiano</a> ed elaborati dal <a href="http://www.protezionecivile.it/" target="_blank">Dipartimento della Protezione Civile</a></p>
      <p>I dati vengono aggiornati automaticamente ogni giorno alle 18:30.</p>
      <p>I dati utilizzati sono consultabili sul <a href="https://github.com/pcm-dpc/COVID-19" target="_blank">repository github</a> della Presidenza del Consiglio dei Ministri - Dipartimento della Protezione Civile</p>
    </div>
      
  </div>

  

</body>
</html>